In [1]:
import pandas as pd 
import nltk

In [2]:
data = pd.read_csv('train.csv')
data.drop('Id',axis=1 , inplace=True)
data

                                                Comment      Topic
0     A few things. You might have negative- frequen...    Biology
1     Is it so hard to believe that there exist part...    Physics
2                                        There are bees    Biology
3     I'm a medication technician. And that's alot o...    Biology
4                        Cesium is such a pretty metal.  Chemistry
...                                                 ...        ...
8690  I make similar observations over the last week...    Biology
8691                                    You would know.    Biology
8692            Also use the correct number of sig figs  Chemistry
8693  What about the ethical delimmas,  groundbreaki...    Biology
8694                          I would like to know too.    Biology

[8695 rows x 2 columns]

In [3]:
data.shape 
data.dtypes

Comment    object
Topic      object
dtype: object

In [5]:
CommentsToBeTokenized = data['Comment'] 
CommentsToBeTokenized

0       A few things. You might have negative- frequen...
1       Is it so hard to believe that there exist part...
2                                          There are bees
3       I'm a medication technician. And that's alot o...
4                          Cesium is such a pretty metal.
                              ...
8690    I make similar observations over the last week...
8691                                      You would know.
8692              Also use the correct number of sig figs
8693    What about the ethical delimmas,  groundbreaki...
8694                            I would like to know too.
Name: Comment, Length: 8695, dtype: object

In [6]:
tokens = CommentsToBeTokenized[0].split()
tokens

['A',
 'few',
 'things.',
 'You',
 'might',
 'have',
 'negative-',
 'frequency',
 'dependent',
 'selection',
 'going',
 'on',
 'where',
 'the',
 'least',
 'common',
 'phenotype,',
 'reflected',
 'by',
 'genotype,',
 'is',
 'going',
 'to',
 'have',
 'an',
 'advantage',
 'in',
 'the',
 'environment.',
 'For',
 'instance,',
 'if',
 'a',
 'prey',
 'animal',
 'such',
 'as',
 'a',
 'vole',
 'were',
 'to',
 'have',
 'a',
 'light',
 'and',
 'a',
 'dark',
 'phenotype,',
 'a',
 'predator',
 'might',
 'recognize',
 'the',
 'more',
 'common',
 'phenotype',
 'as',
 'food.',
 'So',
 'if',
 'the',
 'light',
 'voles',
 'are',
 'more',
 'common,',
 'foxes',
 'may',
 'be',
 'keeping',
 'a',
 'closer',
 'eye',
 'out',
 'for',
 'light',
 'phenotypic',
 'voles,',
 'recognising',
 'them',
 'as',
 'good',
 'prey.',
 'This',
 'would',
 'reduce',
 'the',
 'light',
 'causing',
 'alleles',
 'due',
 'to',
 'increased',
 'predation',
 'and',
 'the',
 'dark',
 'genotypes',
 'would',
 'increase',
 'their',
 'proportion',
 'of',
 'the',
 'population',
 'until',
 'this',
 'scenario',
 'is',
 'reversed.',
 'This',
 'cycle',
 'continues',
 'perpetually.',
 '\\n\\nHowever,',
 'this',
 'is',
 'unlikely',
 'to',
 'be',
 'strictly',
 'yearly',
 'as',
 'it',
 'usually',
 'takes',
 'more',
 'time',
 'than',
 'a',
 'year',
 'for',
 'an',
 'entire',
 'populations',
 'allele',
 'frequencies',
 'to',
 'change',
 'enough',
 'to',
 'make',
 'a',
 'large',
 'enough',
 'difference',
 'to',
 'alter',
 'fitness.',
 '\\n\\nMore',
 'likely',
 'on',
 'a',
 '*year',
 'to',
 'year*',
 'basis,',
 'the',
 'population',
 'is',
 'experiencing',
 'fluctuating',
 'selection',
 'where',
 'alternating',
 'conditions',
 'in',
 'the',
 'environment',
 'favor',
 'one',
 'genotype',
 'over',
 'another.',
 'Perhaps',
 'a',
 'plant',
 'species',
 'is',
 'living',
 'in',
 'an',
 'area',
 'that',
 'is',
 'flooded',
 'every',
 'other',
 'year',
 'and',
 'the',
 'two',
 'phenotypes',
 'in',
 'the',
 'population',
 'are',
 'plants',
 'that',
 'do',
 'much',
 'better',
 'in',
 'the',
 'dryer',
 'year',
 'and',
 'one',
 'that',
 'does',
 'better',
 'in',
 'the',
 'wet',
 'year.',
 'If',
 'there',
 'is',
 'no',
 'flooding,',
 'the',
 'dry-type',
 'genotype',
 'will',
 'have',
 'more',
 'fitness',
 'leading',
 'to',
 'more',
 'offspring',
 'and',
 'therefore',
 'more',
 'dry',
 'alleles',
 'in',
 'the',
 'population,',
 'however,',
 'in',
 'flooded',
 'years',
 'the',
 'wet-liking',
 'phenotype',
 'will',
 'do',
 'better',
 'and',
 'propagate',
 'the',
 'wet',
 'genes.']

In [7]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()
bow = cv.fit_transform(CommentsToBeTokenized)

In [8]:
bow

<8695x18177 sparse matrix of type '<class 'numpy.int64'>'
	with 190076 stored elements in Compressed Sparse Row format>

In [9]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer()
tfidf_result=tfidf.fit_transform(CommentsToBeTokenized).toarray()

In [10]:
tfidf_result.shape

(8695, 18177)

In [32]:
vectorizer = TfidfVectorizer(max_features=18177)
tfidf_result = vectorizer.fit_transform(CommentsToBeTokenized).toarray()
features = vectorizer.get_feature_names_out()
tfidf_result = pd.DataFrame(tfidf_result, columns=features)

In [33]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.naive_bayes import MultinomialNB
NB= MultinomialNB()

In [ ]:
xtrain, xtest, ytrain, ytest = train_test_split(tfidf_result, data['Topic'], test_size= 0.1)
NB.fit(xtrain, ytrain)

In [ ]:
ypred = NB.predict(xtrain)
ypred = NB.predict(xtest)

In [ ]:
ypred.shape

In [ ]:
ytrain=ytrain[0:870]
ytest=ytest[0:870]

In [31]:
print("Training Results:\n")
print(classification_report(ytrain, ypred))
print("\nTesting Results:\n")
print(classification_report(ytest, ypred))

Training Results:

              precision    recall  f1-score   support

     Biology       0.41      0.56      0.47       353
   Chemistry       0.34      0.30      0.32       291
     Physics       0.23      0.14      0.17       226

    accuracy                           0.36       870
   macro avg       0.33      0.33      0.32       870
weighted avg       0.34      0.36      0.35       870


Testing Results:

              precision    recall  f1-score   support

     Biology       0.69      0.90      0.78       369
   Chemistry       0.73      0.66      0.69       285
     Physics       0.89      0.55      0.68       216

    accuracy                           0.73       870
   macro avg       0.77      0.70      0.72       870
weighted avg       0.75      0.73      0.72       870

In [5]:
df = data.groupby('Topic')

In [7]:
df.count()

           Comment
Topic
Biology       3591
Chemistry     2920
Physics       2184